{%extends 'main_app/layout.html'%}
{%load static%}
{%block 'titleA'%}
تماس با ما
{%endblock%}
{%block 'titleB'%}
تماس با ما
{%endblock%}
{%block 'content'%}
<div class="page-content pt-7">
    <section class="contact-section appear-animate">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 ls-m mb-4" style="min-height: 400px; text-align:right">
                    <div class="grey-section d-flex align-items-center h-100" style="padding: 30px;">
                        <div>
                            <h4 class="mb-2 text-capitalize">آدرس </h4>
                            <p>
                                خیابان کارگر شمالی،خیابان نصرت غربی،شماره 88،طبقه 2   
                            </p>
                            <h4 class="mb-2 text-capitalize">تلفن </h4>
                            <p>
                                <a href="tel:#"> 09126141135 </a><br>
                                <!-- <a href="tel:#"> 09112345678 </a> -->
                            </p>
                            <h4 class="mb-2 text-capitalize">پشتیبانی</h4>
                            <p class="mb-4">
                                <a href="#">mail@sample.com</a><br>
                                <!-- <a href="#">mail@sample.com</a><br>                                            -->
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-6 d-flex align-items-center mb-4">
                    <div class="w-100">
                        <form class="pl-lg-2" action="" method="post">
                            {%csrf_token%}
                            <h4 class="ls-m font-weight-bold">تماس با ما</h4>
                            <p>
                                فیلد های ستاره دار الزامی هستند .
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h5  style="color:#FE7C00;" > {{username}} </h5>
                            </p>
                            <div class="row mb-2">
                                <div class="col-md-6 mb-4">
                                    {{f.username}}
                                </div>
                                <div class="col-md-6 mb-4">
                                    {{f.email}}
                                </div>
                                <div class="col-12 mb-4">
                                    {{f.message}}
                                </div>
                            </div>
                            <button class="btn btn-dark btn-rounded">
                                ارسال پیام <i class="d-icon-arrow-left"></i>
                            </button> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section-->
    <!-- Google Maps - Go to the bottom of the page to change settings and map location. -->
    <div class="mb-10"></div>
    <div class="grey-section google-map appear-animate" id="googlemaps" style="height: 386px"></div>
    <!-- End Map Section -->
    <div class="mb-10"></div>
</div>

     
{%endblock%}