{%extends 'main_app/layout.html'%}
{%load static%}
{%block 'titleA'%}
ورود
{%endblock%}
{%block 'titleB'%}
<li><a href="/login" class="active">ورود</a></li>
{%endblock%}
{%block 'content'%}
<div class="page-content pt-7">
    <section class="contact-section appear-animate">
        <div class="container">
            <div class="row">
                <form class="pl-lg-2" method="post" style="max-width: 700px; margin:auto">
                {% csrf_token %}
                {{msg}}
                    <fieldset style="padding: 50px;">
                        <legend style="text-align: center; font-size:x-large">ورود</legend>
                        <div class="form-group mb-2" >
                            <input type="text" class="form-control text-left" id="username" name="username" placeholder="نام کاربری" required />
                        </div> 
                        <div class="form-group mb-2">
                            <input type="password" class="form-control text-left ltr" id="password" name="password" placeholder="رمز عبور" required />
                        </div>
                        <button class="btn btn-dark btn-block btn-rounded mb-2" type="submit" >ورود</button>
                        <div class="form-footer mb-2">
                            <a href="#" class="lost-link">رمز عبور خود را فراموش کرده اید؟</a>
                        </div>
                    </fieldset>
                </form>
            </div> 
    </section>
</div>            
{%endblock%}