{%extends 'main_app/layout.html'%}
{%load static%}
{%block 'titleA'%}
 محصــولات
{%endblock%}
{%block 'titleB'%}
{% for itm in pv %}
<li><a href="/product_category" class="active">دسته بندی محصــولات</a></li>
<li><a href="/products/{{itm.category.id}}" class="active">{{itm.category.name}}</a></li>
<li><a href="" class="active">{{itm.product.name}}</a></li>
{%endfor%}
{%endblock%}
{%block 'content'%}
{% for itm in pv %}
<main class="main mt-lg-6 single-product rtl text-right">
    <div class="page-content single-product mb-10 pb-4">
        <div class="container">
    <div class="product product-single row mb-4">
        <div class="col-md-6">
            <div class="product-gallery pg-vertical ltr">
                <div class="product-single-carousel owl-carousel owl-theme owl-nav-inner row cols-1 ltr">
                    <figure class="product-image">
                        {%if itm.image.photo1%}
                        <img src="{{itm.image.photo1.url}}"
                             data-zoom-image="{{itm.image.photo1.url}}"
                             alt="Yosemite Bum Low Volume" width="600" height="675">
                        {%endif%}     
                    </figure>
                    <figure class="product-image">
                        {%if itm.image.photo2%}
                        <img src="{{itm.image.photo2.url}}"
                             data-zoom-image="{{itm.image.photo2.url}}"
                             alt="Yosemite Bum Low Volume" width="600" height="675">
                        {%endif%}                                 
                    </figure>
                    <figure class="product-image">
                        {%if itm.image.photo3%}
                        <img src="{{itm.image.photo3.url}}"
                             data-zoom-image="{{itm.image.photo3.url}}"
                             alt="Yosemite Bum Low Volume" width="600" height="675">
                        {%endif%}                                 
                    </figure>
                    <figure class="product-image">
                        {%if itm.image.photo4%}
                        <img src="{{itm.image.photo4.url}}"
                             data-zoom-image="{{itm.image.photo4.url}}"
                             alt="Yosemite Bum Low Volume" width="600" height="675">
                        {%endif%}                                 
                    </figure>
                    <figure class="product-image">
                        {%if itm.image.photo5%}
                        <img src="{{itm.image.photo5.url}}"
                             data-zoom-image="{{itm.image.photo5.url}}"
                             alt="Yosemite Bum Low Volume" width="600" height="675">
                        {%endif%}                                 
                            </figure>
                    <figure class="product-image">
                        {%if itm.image.photo6%}
                        <img src="{{itm.image.photo6.url}}"
                             data-zoom-image="{{itm.image.photo6.url}}"
                             alt="Yosemite Bum Low Volume" width="600" height="675">
                        {%endif%}                                 
                    </figure>
                    <figure class="product-image">
                        {%if itm.image.photo7%}
                        <img src="{{itm.image.photo7.url}}"
                             data-zoom-image="{{itm.image.photo7.url}}"
                             alt="Yosemite Bum Low Volume" width="600" height="675">
                        {%endif%}                                 
                    </figure>
                    <figure class="product-image">
                        {%if itm.image.photo8%}
                        <img src="{{itm.image.photo8.url}}"
                             data-zoom-image="{{itm.image.photo8.url}}"
                             alt="Yosemite Bum Low Volume" width="600" height="675">
                        {%endif%}                                 
                    </figure>
                </div>
                <div class="product-thumbs-wrap ltr">
                    <div class="product-thumbs">
                        {% if itm.image.photoZ1 %}
                        <div class="product-thumb active">
                            <img src="{{itm.image.photoZ1.url}}" alt="product thumbnail"
                                 width="150" height="170">
                        </div>
                        {%endif%}
                        {% if itm.image.photoZ2 %}
                        <div class="product-thumb">
                            <img src="{{itm.image.photoZ2.url}}" alt="product thumbnail"
                                 width="150" height="169">
                        </div>
                        {%endif%} 
                        {% if itm.image.photoZ3 %}
                        <div class="product-thumb">
                            <img src="{{itm.image.photoZ3.url}}" alt="product thumbnail"
                                 width="150" height="169">
                        </div>
                        {%endif%} 
                        {% if itm.image.photoZ4 %}
                        <div class="product-thumb">
                            <img src="{{itm.image.photoZ4.url}}" alt="product thumbnail"
                                 width="150" height="169">
                        </div>
                        {%endif%} 
                        {% if itm.image.photoZ5 %}
                        <div class="product-thumb">
                            <img src="{{itm.image.photoZ5.url}}" alt="product thumbnail"
                                 width="150" height="169">
                        </div>
                        {%endif%} 
                        {% if itm.image.photoZ6 %}
                        <div class="product-thumb">
                            <img src="{{itm.image.photoZ6.url}}" alt="product thumbnail"
                                 width="150" height="169">
                        </div>
                        {%endif%} 
                        {% if itm.image.photoZ7 %}
                        <div class="product-thumb">
                            <img src="{{itm.image.photoZ7.url}}" alt="product thumbnail"
                                 width="150" height="169">
                        </div>
                        {%endif%} 
                        {% if itm.image.photoZ8 %}
                        <div class="product-thumb">
                            <img src="{{itm.image.photoZ8.url}}" alt="product thumbnail"
                                 width="150" height="169">
                        </div>
                        {%endif%}                                                    
                    </div>
                    <button class="thumb-up disabled"><i class="fas fa-chevron-right"></i></button>
                    <button class="thumb-down disabled"><i class="fas fa-chevron-left"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-details rtl">
                <h1 class="product-name">{{itm.product}}</h1>
                <div class="product-meta">
                    دسته بندی :<span class="product-sku">{{itm.category}}</span>
                    برند:<span class="product-brand">{{itm.brand}}</span>
                </div>
                <div class="product-price">{{itm.price}}</div>
                <div class="ratings-container">
                    <div class="ratings-full">
                        <span class="ratings" style="width:80%"></span>
                        <span class="tooltiptext tooltip-top"></span>
                    </div>
                    <a href="#product-tab-reviews" class="link-to-tab rating-reviews">( از 16نظر )</a>
                </div>
                <p class="product-short-desc">
                    {{itm.product.description | safe}}                                 
                </p>
                <div class="product-form product-color">
                    <label>رنگ:</label>
                    <div class="product-variations">
                        {% for color in colors %}
                        <a class="color" href="#"
                           style="background-color: {{ color.hex_code }}"></a>
                        {% endfor %}
                    </div>
                </div>
                <div class="product-form product-size">
                    <label>سایز:</label>
                    <div class="product-form-group">
                        <div class="product-variations">
                            {% for size in sizes %}
                            <a class="size" href="#">{{ size }}</a>
                            {% endfor %}
                        </div>
                        <a href="#" class="product-variation-clean">پاک کردن همه</a>
                    </div>
                </div>
                <div class="product-variation-price">
                    <span> 230,000 تومان </span>
                </div>
                <hr class="product-divider">
                <div class="product-form product-qty">
                    <label>تعداد:</label>
                    <div class="product-form-group">
                        <div class="input-group">
                            <button class="quantity-minus d-icon-minus"></button>
                            <input class="quantity form-control" type="number" min="1" max="1000000">
                            <button class="quantity-plus d-icon-plus"></button>
                        </div>
                        <button class="btn-product btn-cart">
                            <i class="d-icon-bag"></i>اضافه
                            خرید
                        </button>
                    </div>
                </div>
                <hr class="product-divider mb-3">
                <div class="product-footer">
                    <div class="social-links ml-4">
                        <a href="#" class="social-link social-facebook fab fa-facebook-f"></a>
                        <a href="#" class="social-link social-twitter fab fa-twitter"></a>
                        <a href="#" class="social-link social-pinterest fab fa-pinterest-p"></a>
                        <a href="#" class="social-link social-instagram fab fa-instagram"></a>
                    </div>
                    <span class="divider d-lg-show"></span>
                    <div class="product-action">
                        <a href="#" class="btn-product btn-wishlist ml-6">
                            <i class="d-icon-heart"></i>اضافه
                            به علاقه مندی
                        </a>
                        <span class="divider d-lg-show"></span>
                        <a href="#" class="btn-product btn-compare">
                            <i class="d-icon-compare"></i>اضافه به مقایسه
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab tab-nav-simple product-tabs">
        <ul class="nav nav-tabs justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#product-tab-Design-and-structure">طراحی و ساختار</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#product-tab-additional-property">ویژگی های فنی</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#product-tab-benefits">مزایا</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#product-tab-reviews"> نظر (2)</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active in" id="product-tab-Design-and-structure">
                <div class="row mt-6">
                    <div class="col-md-6">
                        <h5 class="description-title mb-4 font-weight-semi-bold ls-m">
                              طراحی و ساختار
                        </h5>
                        <p class="mb-2">{{itm.product.designTab | safe}}</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="product-tab-additional-property">
                <div class="row mt-6">
                    <div class="col-md-6">
                        <h5 class="description-title mb-4 font-weight-semi-bold ls-m">
                            ویژگی های فنی
                        </h5>
                        <p class="mb-2">
                            {{itm.product.PropertyTab | safe}}
                        </p>
                    </div>
                    <div class="col-md-6 pl-md-6">   
                        <h5 class="description-title mb-3 font-weight-semi-bold ls-m">
                             ویژگی های اضافی
                        </h5>
                        <p class="mb-2">
                            {{itm.product.additionalPropertyTab | safe}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane " id="product-tab-benefits">
                <div class="row mt-6">
                    <div class="col-md-6">
                        <h5 class="description-title mb-4 font-weight-semi-bold ls-m">
                              مزایا
                        </h5>
                      <p class="mb-2">{{itm.product.benefitsTab | safe}}</p>
                    </div>
                    <div class="col-md-6 pl-md-6">
                        <div class="icon-box-wrap d-flex flex-wrap">
                            <div class="icon-box icon-box-side icon-border pt-2 pb-2 mb-4 ml-10">
                                <div class="icon-box-icon">
                                    <i class="d-icon-lock"></i>
                                </div>
                                <div class="icon-box-content rtl">
                                    <h4 class="icon-box-title lh-1 pt-1 ls-s text-normal">
                                        2سال
                                        گارانتی
                                    </h4>
                                    <p>تضمین  بدون قید و شرط</p>
                                </div>
                            </div>
                            <div class="icon-box icon-box-side icon-border pt-2 pb-2 mb-4">
                                <div class="icon-box-icon">
                                    <i class="d-icon-truck"></i>
                                </div>
                                <div class="icon-box-content rtl">
                                    <h4 class="icon-box-title lh-1 pt-1 ls-s text-normal">
                                        حمل و نقل رایگان
                                    </h4>
                                    <p>با خرید هر دو عدد کالا </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane " id="product-tab-reviews">
                <div class="row">
                    <div class="col-12 mb-6">
                        <div class="avg-rating-container">
                            <mark>5.0</mark>
                            <div class="avg-rating">
                                <span class="avg-rating-title">میانگین امتیاز</span>
                                <div class="ratings-container mb-0">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width:100%"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <span class="rating-reviews">(از 27 نظر)</span>
                                </div>
                            </div>
                        </div>
                        <div class="ratings-list mb-2">
                            <div class="ratings-item">
                                <div class="ratings-container mb-0">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width:100%"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                </div>
                                <div class="rating-percent">
                                    <span style="width:100%;"></span>
                                </div>
                                <div class="progress-value">100%</div>
                            </div>
                            <div class="ratings-item">
                                <div class="ratings-container mb-0">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width:80%"></span>
                                        <span class="tooltiptext tooltip-top">4.000 </span>
                                    </div>
                                </div>
                                <div class="rating-percent">
                                    <span style="width:0%;"></span>
                                </div>
                                <div class="progress-value">0%</div>
                            </div>
                            <div class="ratings-item">
                                <div class="ratings-container mb-0">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width:60%"></span>
                                        <span class="tooltiptext tooltip-top">4.000 </span>
                                    </div>
                                </div>
                                <div class="rating-percent">
                                    <span style="width:0%;"></span>
                                </div>
                                <div class="progress-value">0%</div>
                            </div>
                            <div class="ratings-item">
                                <div class="ratings-container mb-0">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width:40%"></span>
                                        <span class="tooltiptext tooltip-top">4.000 </span>
                                    </div>
                                </div>
                                <div class="rating-percent">
                                    <span style="width:0%;"></span>
                                </div>
                                <div class="progress-value">0%</div>
                            </div>
                            <div class="ratings-item">
                                <div class="ratings-container mb-0">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width:20%"></span>
                                        <span class="tooltiptext tooltip-top">4.000 </span>
                                    </div>
                                </div>
                                <div class="rating-percent">
                                    <span style="width:0%;"></span>
                                </div>
                                <div class="progress-value">0%</div>
                            </div>
                        </div>
                        <a class="btn btn-dark btn-rounded submit-review-toggle" href="#">
                            ارسال
                            بررسی ها
                        </a>
                    </div>
                    <div class="col-12 comments pt-2 pb-10 border-no">
                        <nav class="toolbox">
                            <div class="toolbox-right">
                                <div class="toolbox-item">
                                    <a href="#" class="btn btn-outline btn-rounded">
                                        همه
                                        بازدید
                                    </a>
                                </div>
                                <div class="toolbox-item">
                                    <a href="#" class="btn btn-outline btn-rounded">
                                        با
                                        عکس
                                    </a>
                                </div>
                                <div class="toolbox-item">
                                    <a href="#" class="btn btn-outline btn-rounded">
                                        با
                                        ویدیوها
                                    </a>
                                </div>
                            </div>
                            <div class="toolbox-left">
                                <div class="toolbox-item toolbox-sort select-box text-dark">
                                    <label>مرتب شود با  :</label>
                                    <select name="orderby" class="form-control">
                                        <option value="">پیش فرض</option>
                                        <option value="newest" selected="selected">
                                            جدید ترین
                                        </option>
                                        <option value="oldest">آخرین بازدید </option>
                                        <option value="high_rate"> بالاترین رتبه</option>
                                        <option value="low_rate"> کمترین رتبه</option>
                                        <option value="most_likely"> بیشترین لایک </option>
                                        <option value="most_unlikely"> بیشترین آنلایک </option>
                                    </select>
                                </div>
                            </div>
                        </nav>
                        <ul class="comments-list">
                            <li>
                                <div class="comment">
                                    <figure class="comment-media">
                                        <a href="#">
                                            <img src="{%static 'main_app/'%}images/blog/comments/2.jpg" alt="avatar">
                                        </a>
                                    </figure>
                                    <div class="comment-body">
                                        <div class="comment-rating ratings-container">
                                            <div class="ratings-full">
                                                <span class="ratings" style="width:100%"></span>
                                                <span class="tooltiptext tooltip-top"></span>
                                            </div>
                                        </div>
                                        <div class="comment-user">
                                            <span class="comment-date">
                                                نویسنده :   <span class="font-weight-semi-bold text-uppercase text-dark">
                                                     افسون هاشمی
                                                </span> در
                                                <span class="font-weight-semi-bold text-dark">

                                                    2 آبان 1402
                                                </span>
                                            </span>
                                        </div>
                                        <div class="comment-content mb-5">
                                            <p>
                                                بسیار خوب که این محصول را انتخاب کردم! کیفیت بسیار بالا و قابل توجه است. بسته‌بندی محکم و ارسال سریع نیز از دقت و حرفه‌ای بودن شما خبر می‌دهد.

                                            </p>
                                        </div>
                                        <div class="file-input-wrappers">
                                            <img class="btn-play btn-img pwsp"
                                                 src="{%static 'main_app/'%}images/products/product1.jpg" width="280"
                                                 height="315" alt="product" />
                                            <img class="btn-play btn-img pwsp"
                                                 src="{%static 'main_app/'%}images/products/product3.jpg" width="280"
                                                 height="315" alt="product" />
                                            <a class="btn-play btn-iframe"
                                               style="background-image: url(images/product/product.jpg);background-size: cover;"
                                               href="{%static 'main_app/'%}video/memory-of-a-woman.mp4">
                                                <i class="d-icon-play-solid"></i>
                                            </a>
                                        </div>
                                        <div class="feeling mt-5">
                                            <button class="btn btn-link btn-icon-left btn-slide-up btn-infinite like ml-2">
                                                <i class="fa fa-thumbs-up"></i>
                                                لایک (<span class="count">0</span>)
                                            </button>
                                            <button class="btn btn-link btn-icon-left btn-slide-down btn-infinite unlike">
                                                <i class="fa fa-thumbs-down"></i>
                                                آنلایک (<span class="count">0</span>)
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="comment">
                                    <figure class="comment-media">
                                        <a href="#">
                                            <img src="{%static 'main_app/'%}images/blog/comments/1.jpg" alt="avatar">
                                        </a>
                                    </figure>
                                    <div class="comment-body">
                                        <div class="comment-rating ratings-container">
                                            <div class="ratings-full">
                                                <span class="ratings" style="width:100%"></span>
                                                <span class="tooltiptext tooltip-top"></span>
                                            </div>
                                        </div>
                                        <div class="comment-user">
                                            <span class="comment-date">
                                                نویسنده :   <span class="font-weight-semi-bold text-uppercase text-dark">
                                                     افسون هاشمی
                                                </span> در
                                                <span class="font-weight-semi-bold text-dark">

                                                    2 آبان 1402
                                                </span>
                                            </span>
                                        </div>
                                        <div class="comment-content">
                                            <p>
                                                بسیار خوب که این محصول را انتخاب کردم! کیفیت بسیار بالا و قابل توجه است. بسته‌بندی محکم و ارسال سریع نیز از دقت و حرفه‌ای بودن شما خبر می‌دهد.
                                            </p>
                                        </div>
                                        <div class="feeling mt-5">
                                            <button class="btn btn-link btn-icon-left btn-slide-up btn-infinite like ml-2">
                                                <i class="fa fa-thumbs-up"></i>
                                                لایک (<span class="count">0</span>)
                                            </button>
                                            <button class="btn btn-link btn-icon-left btn-slide-down btn-infinite unlike">
                                                <i class="fa fa-thumbs-down"></i>
                                                آنلایک (<span class="count">0</span>)
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <nav class="toolbox toolbox-pagination justify-content-end">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link page-link-prev" href="#"
                                       aria-label="Previous" tabindex="-1"
                                       aria-disabled="true">
                                        <i class="d-icon-arrow-right"></i>قبلی
                                    </a>
                                </li>
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item page-item-dots">
                                    <a class="page-link"
                                       href="#">6</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link page-link-next" href="#"
                                       aria-label="Next">
                                        بعدی<i class="d-icon-arrow-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- End Comment  -->
                <div class="review-form-section">
                    <div class="review-overlay"></div>
                    <div class="review-form-wrapper">
                        <div class="title-wrapper text-right">
                            <h3 class="title title-simple text-right text-normal">
                                اضافه به بررسی ها
                            </h3>
                            <p>
                                فیلد های ستاره دار الزامی هستند .
                                *
                            </p>
                        </div>
                        <div class="rating-form">
                            <label for="rating" class="text-dark">امتیاز شما* </label>
                            <span class="rating-stars selected">
                                <a class="star-1" href="#">1</a>
                                <a class="star-2" href="#">2</a>
                                <a class="star-3" href="#">3</a>
                                <a class="star-4 active" href="#">4</a>
                                <a class="star-5" href="#">5</a>
                            </span>
                            <select name="rating" id="rating" required=""
                                    style="display: none;">
                                <option value="">رتبه…</option>
                                <option value="5">عالی</option>
                                <option value="4">خوب</option>
                                <option value="3">متوسط</option>
                                <option value="2">بد نیست</option>
                                <option value="1">خیلی ضعیف</option>
                            </select>
                        </div>
                        <form action="#">
                            <textarea id="reply-message" cols="30" rows="6"
                                      class="form-control mb-4" placeholder="پیام*"
                                      required></textarea>
                            <div class="review-medias">
                                <div class="file-input form-control image-input"
                                     style="background-image: url(images/product/placeholder.png);">
                                    <div class="file-input-wrapper">
                                    </div>
                                    <label class="btn-action btn-upload" title="Upload Media">
                                        <input type="file" accept=".png, .jpg, .jpeg"
                                               name="riode_comment_medias_image_1">
                                    </label>
                                    <label class="btn-action btn-remove" title="Remove Media">
                                    </label>
                                </div>
                                <div class="file-input form-control image-input"
                                     style="background-image: url(images/product/placeholder.png);">
                                    <div class="file-input-wrapper">
                                    </div>
                                    <label class=" btn-action btn-upload" title="Upload Media">
                                        <input type="file" accept=".png, .jpg, .jpeg"
                                               name="riode_comment_medias_image_2">
                                    </label>
                                    <label class="btn-action btn-remove" title="Remove Media">
                                    </label>
                                </div>
                                <div class="file-input form-control video-input"
                                     style="background-image: url(images/product/placeholder.png);">
                                    <video class="file-input-wrapper" controls=""></video>
                                    <label class="btn-action btn-upload" title="Upload Media">
                                        <input type="file" accept=".avi, .mp4"
                                               name="riode_comment_medias_video_1">
                                    </label>
                                    <label class="btn-action btn-remove" title="Remove Media">
                                    </label>
                                </div>
                            </div>
                            <p> آپلود تصاویر و ویدیوها. حداکثر تعداد: 3، حجم: 2MB</p>
                            <button type="submit" class="btn btn-primary btn-rounded">
                                ارسال<i class="d-icon-arrow-left"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <!-- End Reply -->
            </div>
        </div>
    </div>
    <section class="pb-6 pt-10 mt-6">
        <h2 class="title text-normal text-center d-block ls-normal">محصولات مرتبط</h2>
        <div class="owl-carousel owl-theme owl-nav-full row cols-2 cols-md-3 cols-lg-4"
             data-owl-options="{
             'rtl':true,
            'items': 5,
            'nav': false,
            'loop': false,
            'dots': true,
            'margin': 20,
            'responsive': {
                '0': {
                    'items': 2
                },
                '768': {
                    'items': 3
                },
                '992': {
                    'items': 4,
                    'dots': false,
                    'nav': true
                }
            }
        }">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="demo9-product.html">
                        <img src="{%static 'main_app/'%}images/demos/demo9/products/1.jpg" alt="product" width="300"
                             height="338">
                        <img src="{%static 'main_app/'%}images/demos/demo9/products/1-1.jpg" alt="product" width="300"
                             height="338">
                    </a>
                    <div class="product-label-group">
                        <label class="product-label label-new">جدید</label>
                    </div>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                           data-target="#addCartModal" title="اضافه به خرید">
                            <i class="d-icon-bag"></i>
                        </a>
                        <a href="#" class="btn-product-icon btn-wishlist" title="اضافه به علاقه مندی">
                            <i class="d-icon-heart"></i>
                        </a>
                    </div>
                    <div class="product-action">
                        <a href="#" class="btn-product btn-quickview" title="نمایش ">
                            نمایش
                        </a>
                    </div>
                </figure>
                <div class="product-details rtl">
                    <div class="product-cat">
                        <a href="demo9-shop.html">پوشاک</a>
                    </div>
                    <h3 class="product-name">
                        <a href="demo9-product.html">کفش نیم بوت چرم</a>
                    </h3>
                    <div class="product-price">
                        <ins class="new-price"> 800,000 تومان </ins><del class="old-price"> 1,200,000 تومان </del>
                    </div>
                    <div class="ratings-container">
                        <div class="ratings-full">
                            <span class="ratings" style="width:100%"></span>
                            <span class="tooltiptext tooltip-top"></span>
                        </div>
                        <a href="demo9-product.html" class="rating-reviews">( از 16نظر )</a>
                    </div>
                </div>
            </div>
            <div class="product text-center">
                <figure class="product-media">
                    <a href="demo9-product.html">
                        <img src="{%static 'main_app/'%}images/demos/demo9/products/2.jpg" alt="product" width="300"
                             height="338">
                        <img src="{%static 'main_app/'%}images/demos/demo9/products/2-1.jpg" alt="product" width="300"
                             height="338">
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                           data-target="#addCartModal" title="اضافه به خرید">
                            <i class="d-icon-bag"></i>
                        </a>
                        <a href="#" class="btn-product-icon btn-wishlist" title="اضافه به علاقه مندی">
                            <i class="d-icon-heart"></i>
                        </a>
                    </div>
                    <div class="product-action">
                        <a href="#" class="btn-product btn-quickview" title="نمایش ">
                            نمایش

                        </a>
                    </div>
                </figure>
                <div class="product-details rtl">
                    <div class="product-cat">
                        <a href="demo9-shop.html">دیدن</a>
                    </div>
                    <h3 class="product-name">
                        <a href="demo9-product.html">ساعت مچی مردانه نقره ای</a>
                    </h3>
                    <div class="product-price">
                        <span class="price"> 21,500,000 تومان </span>
                    </div>
                    <div class="ratings-container">
                        <div class="ratings-full">
                            <span class="ratings" style="width:100%"></span>
                            <span class="tooltiptext tooltip-top"></span>
                        </div>
                        <a href="demo9-product.html" class="rating-reviews">( از 16نظر )</a>
                    </div>
                </div>
            </div>
            <div class="product text-center">
                <figure class="product-media">
                    <a href="demo9-product.html">
                        <img src="{%static 'main_app/'%}images/demos/demo9/products/3.jpg" alt="product" width="300"
                             height="338">
                        <img src="{%static 'main_app/'%}images/demos/demo9/products/3-1.jpg" alt="product" width="300"
                             height="338">
                    </a>
                    <div class="product-label-group">
                        <label class="product-label label-sale">%27 تخفیف</label>
                    </div>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                           data-target="#addCartModal" title="اضافه به خرید">
                            <i class="d-icon-bag"></i>
                        </a>
                        <a href="#" class="btn-product-icon btn-wishlist" title="اضافه به علاقه مندی">
                            <i class="d-icon-heart"></i>
                        </a>
                    </div>
                    <div class="product-action">
                        <a href="#" class="btn-product btn-quickview" title="نمایش ">
                            نمایش
                        </a>
                    </div>
                </figure>
                <div class="product-details rtl">
                    <div class="product-cat">
                        <a href="demo9-shop.html">الکترونیک</a>
                    </div>
                    <h3 class="product-name">
                        <a href="demo9-product.html">چراغ دستی شارژی</a>
                    </h3>
                    <div class="product-price">
                        <span class="price"> 230,000 تومان </span>
                    </div>
                    <div class="ratings-container">
                        <div class="ratings-full">
                            <span class="ratings" style="width:100%"></span>
                            <span class="tooltiptext tooltip-top"></span>
                        </div>
                        <a href="demo9-product.html" class="rating-reviews">( از 16نظر )</a>
                    </div>
                </div>
            </div>
            <div class="product text-center">
                <figure class="product-media">
                    <a href="demo9-product.html">
                        <img src="{%static 'main_app/'%}images/demos/demo9/products/4.jpg" alt="product" width="300"
                             height="338">
                        <img src="{%static 'main_app/'%}images/demos/demo9/products/4-1.jpg" alt="product" width="300"
                             height="338">
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                           data-target="#addCartModal" title="اضافه به خرید">
                            <i class="d-icon-bag"></i>
                        </a>
                        <a href="#" class="btn-product-icon btn-wishlist" title="اضافه به علاقه مندی">
                            <i class="d-icon-heart"></i>
                        </a>
                    </div>
                    <div class="product-action">
                        <a href="#" class="btn-product btn-quickview" title="نمایش ">
                            نمایش
                        </a>
                    </div>
                </figure>
                <div class="product-details rtl">
                    <div class="product-cat">
                        <a href="demo9-shop.html">پوشاک</a>
                    </div>
                    <h3 class="product-name">
                        <a href="demo9-product.html">کلاه لبه دار زنانه</a>
                    </h3>
                    <div class="product-price">
                        <ins class="new-price">900,000 تومان</ins><del class="old-price"> 1,200,000 تومان </del>
                    </div>
                    <div class="ratings-container">
                        <div class="ratings-full">
                            <span class="ratings" style="width:100%"></span>
                            <span class="tooltiptext tooltip-top"></span>
                        </div>
                        <a href="demo9-product.html" class="rating-reviews">( از 16نظر )</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
        </div>
    </div> 
</main>   
{%endfor%} 
{%endblock%}



